.sidebar {
    position: absolute;
    z-index: 1 !important;
    width: 20%;
    height: 100%;
    background-color: #FFF;
    overflow: auto;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
}

.sidebarDiv {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:0 5px 5px rgba(0, 0, 0, 0.5);
}

.sidebar-div:hover {
    background-color: #DDD
}

.sidebarH3 {
    font-size: 2rem;
}

.sidebarH1 {
    margin: 0 0 0 0.5rem;
}