.map-container {
    position: absolute;
    height: 100%;
    width: 66.6%;
}

.mapboxgl-popup {
    background-color: #FFF;
    padding: 1rem;
}

/* .mapboxgl-popup h1 {
    position: absolute;
    top: 4rem;
    left: 1rem;
} */

.mapboxgl-popup-close-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
}